* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #1e1e2e;
  color: #d9e0ee;
}

#navbar {
  position: fixed;
  top: 0;
  width: 310px;
  padding: 25px;
  background-color: #161320;
  height: 100%;
}
#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  list-style: none;
  margin-top: 10px;
  width: 100%;
  background-color: #c9cbff;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #161320;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  /*For mobile phones: */
  #navbar ul {
    height: 210px;
  }
  #navbar {
    position: relative;
    max-height: 350px;
    width: 100%;
    margin: 0;
  }
  #main-doc {
    margin-left: 0px;
  }
}

header {
  font-size: 2em;
  padding: 10px;
  font-weight: bold;
}
main {
  position: absolute;
  margin-left: 310px;
}

.main-section ul {
  margin-top: 15px;
  margin-left: 40px;
}

#Linux_directories h3 {
  color: #c9cbff;
}

.main-section li {
  list-style: square;
}

#Where_start ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-section a:link {
  color: #b5e8e0;
}

.main-section a:visited {
  color: #ddb6f2;
}
.main-section a:hover {
  color: #f8bd96;
}

.content {
  margin: 0 30px;
}

.main-section {
  margin: 30px;
}

p {
  font-size: 1.2em;
}

.code {
  background: #302d41;
  border: 1px solid #161320;
  border-left: 3px solid #ddb6f2;
  color: #c9cbff;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin: 20px;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

#footer-cat {
  width: 100%;
}
